{
  "exchange": "bittrex",
  "api": {
    "key": "test_key",
    "secret": "test_secret"
  },
  "threshold": 1,
  "activeTrading": true,
  "log": {
    "slack": {
      "webhook": "https://hooks.slack.com/services/slack_hook_id",
      "enabled": false
    },
    "db": {
      "host": "127.0.0.1",
      "user": "root",
      "password": "123",
      "database": "stitch",
      "enabled": false
    }
  }
}
