{
  "exchange": "bitfinex",
  "api": {
    "key": "test_key",
    "secret": "test_secret"
  },
  "threshold": 0.9,
  "activeTrading": true,
  "log": {
    "slack": {
      "webhook": "https://hooks.slack.com/services/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",
      "enabled": false
    },
    "db": {
      "host": "127.0.0.1",
      "user": "root",
      "dassword": "123",
      "database": "stitch",
      "enabled": false
    }
  }
  "fetchVolumes": true,
  "cacheTime": 1000
}
